<div class="form-wrapper">
    <h2 class="form-header">Sign Up</h2>
    <form method="post" action="/user/registration">
        <div class="mb-3">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" placeholder="Enter first name" id="firstName" name="firstName" value="{{values.firstName}}">
            {{#if validationMessages.firstName}}
                <span style="color: red;">{{validationMessages.firstName}}</span>
            {{/if}}
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control" placeholder="Enter last name" id="lastName" name="lastName" value="{{values.lastName}}">
            {{#if validationMessages.lastName}}
                <span style="color: red;">{{validationMessages.lastName}}</span>
            {{/if}}
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="text" class="form-control" placeholder="Enter email" id="email" name="email" value="{{values.email}}">
            {{#if validationMessages.email}}
                <span style="color: red;">{{validationMessages.email}}</span>
            {{/if}}
        </div>
        <div class="mb-3">
            <div class="d-flex">
                <label for="password" class="form-label">Password</label>
                <span class="ms-auto" onclick="togglePassword()"><i class="fa-solid fa-eye me-1" id="eye-icon"></i> Show</span>
            </div>
            <input type="password" class="form-control password" id="password" placeholder="Enter password" name="password" value="{{values.password}}">
            {{#if validationMessages.passwordNull}}
                <span style="color: red;">{{validationMessages.passwordNull}}</span>
            {{/if}}
            {{#if validationMessages.passwordInvalid}}
                <span style="color: red;">Please enter a password (8 or more characters)<br>
                    Must constain at least: 1 lowercase, 1 uppercase, 1 number, 1 symbol</span>
            {{/if}}
        </div>
        <div class="mb-3">
            <label for="confirm-password" class="form-label">Confirm password</label>
            <input type="password" class="form-control password" id="confirmPassword" placeholder="Enter password" name="confirmPassword" value="{{values.confirmPassword}}">
            {{#if validationMessages.confirmPasswordNull}}
                <span style="color: red;">{{validationMessages.confirmPasswordNull}}</span>
            {{/if}}
            {{#if validationMessages.confirmPasswordInvalid}}
                <span style="color: red;">Passwords did not match</span>
            {{/if}}
        </div>
        <button type="submit" class="btn btn-primary">Sign up!</button>
    </form>

    <script>
        const eyeIcon = document.querySelector("#eye-icon");
        const password = document.querySelectorAll(".password");

        function togglePassword() {

            for (i = 0; i < password.length; i++) {
                const type = password[i].getAttribute("type") === "password" ? "text" : "password";
                password[i].setAttribute("type", type);
            }
            // toggle the type attribute
            

            // toggle the icon
            eyeIcon.classList.toggle("fa-eye");
            eyeIcon.classList.toggle("fa-eye-slash");
        };

        // prevent form submit
        //const form = document.querySelector("form");
        //form.addEventListener('submit', function (e) {
        //    e.preventDefault();
        //});
    </script>
</div>